*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}


body{
  background-color: rgb(243, 242, 242);
  font-family: 'Nunito', sans-serif;
}

nav#navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212121;
  color: white;
  /* padding: 15px; */
  padding: 10px 0 10px 0;
  font-family: 'Coda Caption', sans-serif;
  letter-spacing: 4px;
  max-width: 100%;
}

/* Card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#form-register{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form__group:first-child{
  margin-top: 40px;
}

.form__group:last-child{
  margin-bottom: 40px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 80%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}


/* Button */@import url("https://fonts.googleapis.com/css?family=Roboto:900");
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 40px;
}
button.learn-more {
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #fff;
  padding: 1.25rem 3.5rem;
  background: #3c3c3c;
  text-transform: uppercase;
}
button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
  letter-spacing: 0.125rem;
}

