*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body{
  background-color: rgb(243, 242, 242);
}

nav#navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212121;
  color: white;
  /* padding: 15px; */
  padding: 10px 0 10px 0;
  font-family: 'Coda Caption', sans-serif;
  letter-spacing: 4px;
  max-width: 100%;
}

/* Cards css */
.container .row{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-md-4{
  width: 100%;
}

@media only screen and (min-device-width:1024px){
.col-md-4{
  width: 90%;
  margin-bottom: 20px;
}
.col-md-4:first-child{
  margin-top: 20px;
}
}
.card{
  font-family: 'Nunito', sans-serif;
  border-radius: 4px;
  background: #fff;
  box-shadow: 10px 16px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 24px 80px 28px 36px;
  cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
font-weight: 600;
}

.card img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}

.card-1{
background-image: url(../assets/boys-football.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 background-image: url(../assets/girls-football.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 background-image: url(../assets/football.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
.card-4{
 background-image: url(../assets/boys-basketball.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
.card-5{
  background-image: url(../assets/girls-basketball.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-6{
  background-image: url(../assets/volley-girl.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-7{
  background-image: url(../assets/volley-boys.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-8{
  background-image: url(../assets/throwball.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-9{
  background-image: url(../assets/kabbadi.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-10{
  background-image: url(../assets/chess.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }
 .card-11{
  background-image: url(../assets/carrom.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }
 .card-12{
  background-image: url(../assets/tt-single.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

@media(max-width: 990px){
.card{
  margin: 20px;
}
} 

/* Button css */
@import url("https://fonts.googleapis.com/css?family=Roboto:900");
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top: 20px;
}
button.learn-more {
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #fff;
  padding: 0.75rem 1rem;
  background: #3c3c3c;
  text-transform: uppercase;
}
button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
  letter-spacing: 0.125rem;
}
